* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 90%;
  margin: auto;
}

.navbar{
  display: flex;
  padding-top: 20px;

}

.navbar img{
  width: 90px;
  height: 27px;
  margin-right: 40px;
}

.navbar span{
  padding-right: 30px;
  font-size: 25px;
  cursor: pointer;
}

button{
  border: 2px solid pink;
  border-radius: 10px;
  background-color: pink;
  padding: 5px 10px;
  font-size: 15px;
}

button:hover{
  cursor: pointer;
  font-weight: bold;
}

.box{
  display: inline;
  position: relative;

}

.dropdown-menu {
  position: absolute;
  top:20px;
  background-color: white;
  width: 200px;
  display: none;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(68, 67, 69, 0.81);
}

.dropdown-menu.active{
 display: block;

}

.dropdown-menu p {
  padding: 10px 10px;

}
.dropdown-menu p:hover {
 cursor: pointer;
 font-weight: bold;
 background-color: rgba(112, 112, 112, 0.45);

}
